@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animation-delay-500 {
        animation-delay: 0.5s;
    }

    .animation-delay-1000 {
        animation-delay: 1s;
    }

    .animation-delay-3000 {
        animation-delay: 3s;
    }

    .animation-delay-6000 {
        animation-delay: 6s;
    }

    .animation-delay-9000 {
        animation-delay: 9s;
    }
}

.nav {
    z-index: 100;
    background: rgba(142, 142, 142, 0.1);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}
